body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color:#f5f8f6;
    color:#1a1a1a;
    
}

header {
    background-color:#0d261c;
    color:#f5f8f6;
    padding: 1em;
    text-align: center;
}

nav a {
    color:#a4d0d5;
    margin: 0 2em;
}

section {
    padding: 2em;
}

form input,
form textarea {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 1em 0 0;
}